<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="controlStatusBar"
        version="0.0.1">
    <name>StatusBar</name>
    <description>Control Status Bar</description>
    <license>Phonegap 3.1</license>
    <keywords>controlstatusbar,bar</keywords>
    
    <js-module src="www/controlStatusBar.js" name="controlStatusBar">
        <clobbers target="window.controlStatusBar" />
    </js-module>

    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="controlStatusBar">
                <param name="ios-package" value="controlStatusBar"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIStatusBarHidden">
            <false/>
        </config-file>
        <config-file target="*-Info.plist" parent="UIViewControllerBasedStatusBarAppearance">
            <false/>
        </config-file>

        <header-file src="src/ios/controlStatusBar.h" />
        <source-file src="src/ios/controlStatusBar.m" />
    </platform>
</plugin>
